<% p = Post.find(@post.id) %>
<% comment_count = p.comments.all.count %>

<div class="w-8/12 mx-auto">
  <div class="card bg-base-100 shadow-xl w-full mb-8">
    <div class="px-8 py-6">
      <h2 class="card-title"><%= @post.title %></h2>
      <p><%= @post.body %></p>
      <div class="mt-2 text-sm text-end text-gray-400">
        <p>By: <%= @post.user.email %></p>
        <p>Diposting pada: <%= @post.created_at %></p>
      </div>
    </div>
  </div>
  <div class="card-actions justify-start mt-8">
    <p class="text-violet-800">Daftar komentar</p>
  </div>
  <% if @comments.empty? %>
    <p class="mt-8">Belum ada komentar</p>
  <% else %>
  <div class="flex flex-col gap-y-4">
    <% @comments.each do | comment | %>
      <div class="card bg-base-100 shadow-xl w-full">
        <div class="card-body">
          <h2 class="card-title"><%= comment.user.email %></h2>
          <p><%= comment.body %></p>
          <div class="card-actions justify-between mt-8">
            <p class="text-gray-400"><%= comment.created_at %></p>
            <% if user_signed_in? && current_user.id == comment.user_id%>
              <div class="flex items-center space-x-2">
                <%= link_to "Update", edit_comment_path(comment), class: "text-violet-800 font-semibold" %>
                <%= form_with url: "/comments/#{comment.id}", method: :delete, data: { turbo_confirm: 'Delete comment?' } do |form| %>
                  <%= form.submit "Delete", class: "text-red-500 font-semibold" %>
                <% end %>
                <!-- <%= link_to "Delete", comment_path(comment),  class: "text-red-500 font-semibold", data: {turbo_method: :delete, 'turbo-confirm': 'Are you sure?', :id => comment.id } %> -->
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

</div>