<h1 class="text-center font-bold text-2xl">My Posts</h1>
  <% if user_signed_in? %>
    <%= link_to "Create new post", new_post_path, class: "btn btn-primary w-[200px]" %>
  <% end %>

  <ul class="flex flex-col gap-y-4">
  <%  @posts.each do | post | %>
    <% p = Post.find(post.id) %>
    <% comment_count = p.comments.all.count %>
    <div class="card bg-base-100 shadow-xl w-8/12 mx-auto">
      <div class="card-body">
        <h2 class="card-title"><%= post.title %></h2>
        <p><%= post.body %></p>
        <% if user_signed_in? %>
          <%= form_with model: Comment.new, url: "/comments", class: "mt-8 flex items-center",  method: :post do |form| %>
            <%= form.hidden_field :post_id, value: post.id %>
            <%= form.text_field :body, class: "border border-violet-500 rounded-md w-full mr-2" %>
            <%= form.button "Reply", class: "bg-violet-800 text-white py-2 px-6 rounded-md"%>
          <% end %>
        <% end %>
        <div class="mt-2 text-sm text-end text-gray-400">
          <p>By: <%= post.user.email %></p>
          <p>Diposting pada: <%= post.created_at %></p>
        </div>
        <div class="flex items-center justify-between mt-2">
          <% if comment_count > 0 %>
            <%= link_to "Cek komentar(#{comment_count})", post_path(post.id), class: "text-violet-700 font-semibold" %>
          <% end %>
          <div class="flex items-center space-x-2 ml-auto">
            <%= link_to "Update", edit_post_path(post), class: "text-violet-800 font-semibold" %>
            <%= form_with url: "/posts/#{post.id}", method: :delete, data: { turbo_confirm: 'Delete post?' } do |form| %>
              <%= form.submit "Delete", class: "text-red-500 font-semibold" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </ul>